@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 50%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 0%;
        --input: 240 5.9% 90%;
        --ring: 240 5.9% 10%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 240 10% 0%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 250 3.7% 50%;
        --muted-foreground: 250 0% 75%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 100%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}

.section-base {
    position: relative;
    width: 100%;
    max-width: 1360px;
}

.extend-border-lines {
    position: relative;
}

.extend-border-lines::before,
.extend-border-lines::after {
    content: "";
    position: absolute;
    width: 1px;
    background-color: hsl(var(--border));
}

.extend-border-lines::before {
    left: -1px;
    top: calc(var(--top, 500vh) * -1);
    height: var(--height, 500vh);
    z-index: -20;
}

.extend-border-lines::after {
    right: -1px;
    top: calc(var(--top, 500vh) * -1);
    height: var(--height, 500vh);
    z-index: -20;
}

.animated-underline {
    position: relative;
}

.animated-underline:hover::after {
    width: 100%;
}

.animated-underline::after {
    content: "";
    position: absolute;
    background-color: hsl(var(--border));
    width: 0%;
    height: 1px;
    transition: width 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    box-shadow: 0 1px 0 hsl(var(--background));
}

.is-pinned {
    border-color: hsl(var(--border) / 0.1);
    filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.01))
        drop-shadow(0 4px 3px rgba(0, 0, 0, 0.05));
}

.is-pinned:is(.dark *) {
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.5))
        drop-shadow(0 4px 3px rgb(0 0 0 / 0.5));
}

.menu-shadow {
    filter: drop-shadow(-10px 0px 8px rgb(0 0 0 / 0.01))
        drop-shadow(-4px 0px 3px rgb(0 0 0 / 0.05));
}

.menu-shadow:is(.dark *) {
    filter: drop-shadow(-10px 0px 8px rgb(0 0 0 / 0.5))
        drop-shadow(-4px 0px 3px rgb(0 0 0 / 0.5));
}

body.overflow-hidden {
    overflow: hidden;
}
