@tailwind utilities;

@layer utilities {
    .paragraph {
        @apply mb-4 font-light leading-7 text-muted-foreground last:mb-0;
    }
    .header-1 {
        @apply mb-4 text-4xl;
    }
    .header-2 {
        @apply mb-4 mt-8 text-2xl;
    }
    .block-list {
        @apply flex flex-col gap-4 leading-7;
    }
    .block-list li {
        @apply highlight p-5 py-4;
    }
    .block-list li b {
        @apply font-normal;
    }
    .condensed-list {
        @apply flex flex-col gap-2;
    }
    .condensed-list li {
        @apply highlight p-5 py-2;
    }
    .condensed-list li strong {
        @apply overflow-hidden whitespace-nowrap font-normal;
    }
    .highlight {
        @apply rounded-lg border border-border/5 bg-border/10 transition-colors hover:border-transparent hover:bg-border/15;
    }
}

.collapsible-content {
    overflow: hidden;
}
.collapsible-content[data-state="open"] {
    animation: slideDown 300ms ease-out;
}
.collapsible-content[data-state="closed"] {
    animation: slideUp 300ms ease-out;
}

.collapsible-trigger[data-state="open"] {
    border-color: transparent;
    background-color: transparent;
}

.collapsible-trigger[data-state="closed"] .open-message {
    display: none;
}
.collapsible-trigger[data-state="open"] .closed-message {
    display: none;
}

@keyframes slideDown {
    from {
        height: 0;
    }
    to {
        height: var(--radix-collapsible-content-height);
    }
}

@keyframes slideUp {
    from {
        height: var(--radix-collapsible-content-height);
    }
    to {
        height: 0;
    }
}
